;; shadow-cljs configuration
{:source-paths
 ["src/main"]

 :dependencies
 [[cljs-http "0.1.46"]]

 :dev-http {8080 "public"}

 :builds
 {:visualizer
  {:target :browser
   :modules {:main {:init-fn visualizer.core/init}}
   }}}
